@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>lo que recibimos del controlador  @ViewBag.Saludo</p>
    <p>Use this area to provide additional information.</p>
    <button onclick="despedirse()">Despedirse</button>
    <script>
        function despedirse() {
            alert("" + @ViewBag.Adios);
        }
    </script>
</main>
